.days {
  display: grid;
  grid-gap: 4px;
  margin: 20px 0;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  grid-template-columns: repeat(auto-fill, 16px);
  box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
    0 5px 15px rgba(0, 0, 0, 0.06);
}

.day {
  height: 16px;
  background-color: rgb(227, 227, 227);
}

.day--active {
  background-color: rgb(229, 149, 162);
}
